body{
    margin: 0;
    padding: 0;
    background: #25896a;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

h1{
    color:white;
}

a:link {
    color: hotpink;
  }
  
  a:visited {
    color: hotpink;
  }
  
  a:hover {
    color: black;
  }

span{
    color:hotpink;
}

button{
    width: 120px;
    height: 40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#board{
    width: 954px;
    height: 636px;
    background-image: url("../images/background.svg");
    margin: auto;
    position: relative;
    overflow: hidden;
}

#timer{
    margin: 10px;
    color: hotpink;
}

#instructions{
    background-color: rgb(65, 65, 65);
    border-radius: 2%;
    position: absolute;
    opacity: 0.7;
    width: 700px;
    height: 300px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

#player{
    content:url("../images/frog.svg");
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    bottom: 400px
}

.fly{
    content:url("../images/fly.svg");
    position: absolute;
}

.hide{
    display: none;
}