body{
    margin: 0;
    padding: 0;
    background: #25896a;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

h1{
    color:white;
}

a:link {
    color: hotpink;
  }
  
  /* visited link */
  a:visited {
    color: hotpink;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }

span{
    color:hotpink;
}

#board{
    width: 954px;
    height: 636px;
    /* background: rgb(0, 229, 250); */
    background-image: url("../images/background.svg");
    margin: auto;
    position: relative;
    overflow: hidden;
    /* border: 2px solid brown; */
    /* border-radius: 50% */
}

#timer{
    margin: 10px;
    color: hotpink;
}

#instructions{
    margin: 10px;
    color:white;
}

#player{
    content:url("../images/frog.svg");
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    bottom: 400px
}

.fly{
    content:url("../images/fly.svg");
    position: absolute;
}